- if params[:id].to_i == current_user.id
  =link_to "My Library", user_libraries_path(current_user.id)
  =link_to "My Wanted Items", user_wanted_lists_path(current_user.id)
  =link_to "Edit Profile", edit_user_registration_path

  %ul
    - current_user.library.items.each do |i|
      %li= link_to i.name, item_path(i)
  
  =link_to "Add New Item", new_item_path
  
  %ul
    - current_user.wanted_list.items.each do |i|
      %li= link_to i.name, item_path(i)

  =link_to "Add New Item", items_new_wanted_path