// Place all the styles and variables related to the entire application.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-height: calc(100vh - #{$topbar-height});
$topbar2-height: 75px;

body{
  height: $main-height;
}

nav.main{
  @include grid-row();

  min-width: 100%;

  > *{
    @include grid-column($total-columns/2);
    height:$topbar-height;
  }

  .links{
    margin: 0;
    padding: 0;
    text-align: left;

    a{@include grid-column($total-columns/4);}
  }
}

nav:not(.main){
  background-color: $silver;
  color: $jet;
  height: $topbar2-height;
}

main{
  margin-top: $topbar-height;
  &.with-nav2{ margin-top: $topbar-height + $topbar2-height; }
}

.body-with-side-bar{
  @include grid-row();

  min-width: 100%;

  .side-bar{
    @include grid-column($total-columns/4);
    // a{position: fixed;}
  }
  .body{@include grid-column($total-columns*3/4);}
}

#map-canvas{
  width: 100%;
  height: $main-height;
  min-height: 400px;
}

@media #{$small-only}{
  nav.main{

    $logo-column-count: $total-columns/3;
    $link-column-count: $total-columns - $logo-column-count;
    $links-column-count: $total-columns/4;

    > :first-child{ @include grid-column($logo-column-count); }
    > :last-child{ @include grid-column($link-column-count); }

    .links a{ @include grid-column($links-column-count); }
  }

  .body-with-side-bar{ .side-bar, .body{ @include grid-column($total-columns); } }

  #map-canvas{ height: 400px;}
}