// Place all the styles and variables related to the entire application.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("http://fonts.googleapis.com/css?family=Varela+Round");

$main-height: calc(100vh - #{$topbar-height});
$topbar2-height: 75px;

@mixin transition-duration($duration){
  -webkit-transition-duration: #{$duration}s;
  -moz-transition-duration: #{$duration}s;
  -ms-transition-duration: #{$duration}s;
}

body{
  height: $main-height;
  font-family: "Varela Round";
}

nav.main{
  @include grid-row();

  min-width: 100%;

  > *{
    @include grid-column($total-columns/2);
    height:$topbar-height;
  }

  .title{
    span{
      opacity: 0;
      font-size: 0.4em;
      @include transition-duration(0.75);
    }
    &:hover{ span{ opacity: 1; } }
  }

  .links{
    margin: 0;
    padding: 0;
    text-align: center;

    a{
      @include grid-column($total-columns/4);
      &:hover{ background-color: $topbar-link-bg-color-hover; }

      @include transition-duration(1/2);
    }
  }

  h1, h2, h3, h4, h5, h6{ color: $secondary-color;}
  a{
    color: $nav-anchor-font-color;
    &:hover{ color: $nav-anchor-font-color-hover; }
  }
}

nav:not(.main){
  background-color: $silver;
  color: $jet;
  height: $topbar2-height;
}

main{
  margin-top: $topbar-height;
  &.with-nav2{ margin-top: $topbar-height + $topbar2-height; }
}

.header{
  > *{ display: inline-block; }
}

.body-with-side-bar{
  @include grid-row();

  min-width: 100%;

  .side-bar{
    @include grid-column($total-columns/4);
    // a{position: fixed;}
  }
  .body{@include grid-column($total-columns*3/4);}
}

#map-canvas{
  width: 100%;
  height: $main-height;
  min-height: 400px;
}

textarea{
  resize: none;
  min-height: 75px;
}

button, input[type="submit"]{
  border: none;
  background-color: $primary-color;
  cursor: pointer;
  color: $white;
  padding: 18px;
  &:hover{ background-color: scale-color($primary-color, $lightness: -14%); }
}

@media #{$small-only}{
  nav.main{

    $logo-column-count: $total-columns/3;
    $link-column-count: $total-columns - $logo-column-count;
    $links-column-count: $total-columns/4;

    > :first-child{ @include grid-column($logo-column-count); }
    > :last-child{ @include grid-column($link-column-count); }

    .links a{ @include grid-column($links-column-count); }
  }

  .body-with-side-bar{ .side-bar, .body{ @include grid-column($total-columns); } }

  #map-canvas{ height: 400px;}
}