// Place all the styles and variables related to the entire application.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-height: calc(100vh - #{$topbar-height});
$topbar2-height: 75px;

body{
  height: 100vh;
}

nav.main{
  @include grid-row();

  min-width: 100%;

  > *{ @include grid-column($total-columns/2); }
  
  * { margin: 0; }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;

    li{display: inline;}
  }
}

nav:not(.main){
  background-color: $silver;
  color: $jet;
  height: $topbar2-height;
}

main{
  margin-top: $topbar-height;
  &.with-nav2{ margin-top: $topbar-height + $topbar2-height; }
}

.body-with-side-bar{
  @include grid-row();

  min-width: 100%;

  .side-bar{
    @include grid-column($total-columns/4);
    // a{position: fixed;}
  }
  .body{@include grid-column($total-columns*3/4);}
}

@media #{$small-only}{
  .body-with-side-bar{ .side-bar, .body{ @include grid-column($total-columns); } }
}