// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Titles -------------------------------------------------

@mixin item-colors($color){
  $lightness-delta: -40%;
  background-color: $color;
  border: 3px double scale-color($color, $lightness: $lightness-delta);
}

.simple_form.titles{

  @include grid-row();

  min-width: 100%;
  > *{ margin-top: 15px; }

  .input.string{ @include grid-column($total-columns/3) }
  input[type="submit"]{ @include grid-column($total-columns/6) }

  input[type="text"]{ width: 100%; }
  .input-boolean{ *{ display: inline-block; } }

  @for $count from 1 through 4{
    &.columns-#{$count}{ .input.boolean{ @include grid-column(($total-columns/2)/$count); } }
  }
}

#titles{
  @include grid-row();

  min-width: 100%;

  > *{
    @include grid-column($total-columns);
    // height: $main-height;
  }

  @include item-colors($item-color);
  border-radius: 5px;

  #books{
    @include item-colors($book-color);
  }
  #movies{
    @include item-colors($movie-color);
  }
  #video_games{
    @include item-colors($videogame-color);
  }

  @for $count from 1 through 4{
    &.columns-#{$count}{ > *{ @include grid-column($total-columns/$count); } }
  }
}

.item{
  .img-wrap{
    width: 175px;
    height: 175px;

    img{
      max-width: 100%;
      max-height: 100%;
    }
  }

  @include item-colors($item-color);
  border-radius: 5px;
  color: $white;

  a{
    color: $white;
    &:hover{ color: $white; }
  }

  background-color: $item-color;
  &.book{
    @include item-colors($book-color);
  }
  &.movie{
    @include item-colors($movie-color);
  }
  &.videogame{
    @include item-colors($videogame-color);
  }
}

@media #{$medium-only}{
  #titles{
    @for $count from 3 through 4{
      &.columns-#{$count}{ > *{ @include grid-column($total-columns/2); } }
    }
  }  
}

@media #{$small-only}{
  .simple_form.titles{
    > *{ margin-top: 0; }

    .input.string{ @include grid-column($total-columns*3/4); }
    input[type="submit"]{ @include grid-column($total-columns/4); }

    @for $count from 1 through 4{
      &.columns-#{$count}{ .input.boolean{ @include grid-column($total-columns/$count); } }
    }
  }

  #titles{
    @for $count from 1 through 4{
      &.columns-#{$count}{ > *{ @include grid-column($total-columns); } }
    }
  }
}

// Items -------------------------------------------------

.field.condition{
  @include grid-row();

  select{@include grid-column($total-columns/2);}
  :not(select){@include grid-column($total-columns);}
}

@media #{$small-only}{
  .field.condition{ select{ @include grid-column($total-columns); } }
}