// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Titles -------------------------------------------------

.simple_form.titles{

  @include grid-row();

  min-width: 100%;
  > *{ margin-top: 15px; }

  .input.string{ @include grid-column($total-columns/3) }
  input[type="submit"]{ @include grid-column($total-columns/6) }

  input[type="text"]{ width: 100%; }
  .input-boolean{ *{ display: inline-block; } }

  @for $count from 1 through 4{
    &.columns-#{$count}{ .input.boolean{ @include grid-column(($total-columns/2)/$count); } }
  }
}

#titles{
  @include grid-row();

  min-width: 100%;

  > *{
    @include grid-column($total-columns);
    // height: $main-height;
  }

  #books{ background-color: blue }
  #movies{ background-color: red; }
  #video_games{ background-color: green; }

  @for $count from 1 through 4{
    &.columns-#{$count}{ > *{ @include grid-column($total-columns/$count); } }
  }
}

@media #{$medium-only}{
  #titles{
    @for $count from 3 through 4{
      &.columns-#{$count}{ > *{ @include grid-column($total-columns/2); } }
    }
  }  
}

@media #{$small-only}{
  .simple_form.titles{
    > *{ margin-top: 0; }

    .input.string{ @include grid-column($total-columns*3/4); }
    input[type="submit"]{ @include grid-column($total-columns/4); }

    @for $count from 1 through 4{
      &.columns-#{$count}{ .input.boolean{ @include grid-column($total-columns/$count); } }
    }
  }

  #titles{
    @for $count from 1 through 4{
      &.columns-#{$count}{ > *{ @include grid-column($total-columns); } }
    }
  }
}

// Items -------------------------------------------------

.field.condition{
  @include grid-row();

  select{@include grid-column($total-columns/2);}
  :not(select){@include grid-column($total-columns);}
}

@media #{$small-only}{
  .field.condition{ select{ @include grid-column($total-columns); } }
}