// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Titles -------------------------------------------------

$item-border-width: 3px;
$shadow-color: #222;

@mixin item-colors($color){
  $lightness-delta: -40%;
  $shaded-color: scale-color($color, $lightness: $lightness-delta);
  background-color: $color;
  color: $shaded-color;
  border-color: $shaded-color;
  .name{ text-shadow: 3px -3px $shaded-color; }
  a{
    color: $shaded-color;
    &:hover{ color: $shaded-color; }
  }
}

@mixin item-border(){
  border-width: $item-border-width;
  border-style: double;
  border-radius: 5px;
}

.simple_form.titles{

  @include grid-row();

  min-width: 100%;
  > *{ margin-top: 15px; }

  .input.string{ @include grid-column($total-columns/3) }
  input[type="submit"]{ @include grid-column($total-columns/6) }

  input[type="text"]{ width: 100%; }
  .input-boolean{ *{ display: inline-block; } }

  @for $count from 1 through 4{
    &.columns-#{$count}{ .input.boolean{ @include grid-column(($total-columns/2)/$count); } }
  }
}

#titles{
  @include grid-row();

  min-width: 100%;

  > *{
    @include grid-column($total-columns);
    // height: $main-height;
    @include item-border();
  }

  @include item-colors($item-color);
  @include item-border();

  #books{
    @include item-colors($book-color);
  }
  #movies{
    @include item-colors($movie-color);
  }
  #video_games{
    @include item-colors($videogame-color);
  }

  @for $count from 1 through 4{
    &.columns-#{$count}{ > *{ @include grid-column($total-columns/$count); } }
  }
}

.item-display{

  @include grid-row();

  $margin-x: 5px;
  $margin-y: 10px;
  $item-width: calc(100% - 2 * #{$margin-x});
  $item-height: 175px;

  width: $item-width;
  height: $item-height;
  margin: 0 $margin-x $margin-y $margin-x;

  background-image: url("icons/book.png");
  background-position: bottom right;
  background-repeat: no-repeat;

  font-weight: bold;

  .img-wrap{

    @include grid-column($total-columns/3);

    // $item-img-padding: 10px;
    // padding: $item-img-padding;
    width: $item-width/2;
    height: $item-height;

    img{
      max-width: calc(100% - 2*#{$item-border-width});
      max-height: calc(100% - 2*#{$item-border-width});
    }
  }

  .info{
    @include grid-column(2*$total-columns/3);

    .name{
      font-size: 3em;
      color: $white;
      // text-shadow: 3px 3px $shadow-color;
    }
  }
  // .icon{ @include grid-column($total-columns/6); }

  @include item-colors($item-color);
  @include item-border();
  border-radius: 5px;
  color: $white;

  a{
    color: $white;
    &:hover{ color: $white; }
  }

  background-color: $item-color;
  &.book{
    @include item-colors($book-color);
    background-image: url("icons/book.png");
  }
  &.movie{
    @include item-colors($movie-color);
    background-image: url("icons/movie.png");
  }
  &.videogame{
    @include item-colors($videogame-color);
    background-image: url("icons/videogame.png");
  }
}

@media #{$medium-only}{
  #titles{
    @for $count from 3 through 4{
      &.columns-#{$count}{ > *{ @include grid-column($total-columns/2); } }
    }
  }  
}

@media #{$small-only}{
  .simple_form.titles{
    > *{ margin-top: 0; }

    .input.string{ @include grid-column($total-columns*3/4); }
    input[type="submit"]{ @include grid-column($total-columns/4); }

    @for $count from 1 through 4{
      &.columns-#{$count}{ .input.boolean{ @include grid-column($total-columns/$count); } }
    }
  }

  #titles{
    @for $count from 1 through 4{
      &.columns-#{$count}{ > *{ @include grid-column($total-columns); } }
    }
  }
}

// Items -------------------------------------------------

.field.condition{
  @include grid-row();

  select{@include grid-column($total-columns/2);}
  :not(select){@include grid-column($total-columns);}
}

@media #{$small-only}{
  .field.condition{ select{ @include grid-column($total-columns); } }
}